        * {
            padding: 0;
            margin: 0;
        }

        #AntiRagging {
            font-size: larger;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;
            justify-content: center;
            margin-top: 40px;
            border-bottom: 2px solid black;
        }

        #para {
            width: 50%;
            height: 600px;
        }

        #para h3 {
            text-decoration: underline;
            color: red;
            margin-top: 30px;
        }

        #besidePara img {
            height: 450px;
            width: 400px;
            margin-left: 30px;
            box-shadow: 1px 1px 8px black;
            border-radius: 15px;
        }

        #gp {
            background-image: url(gpc2.jpg);
            background-size: cover;
            object-fit: cover;
            width: 100%;
            height: 90vh;
            stroke-opacity: 300;
            position: absolute;
            z-index: -1/-2;
            border-bottom: 2px solid black;

        }

        #hidden {
            width: 100vh;
            height: 90vh;
            visibility: hidden;
        }

        #overlay {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 90px;
            font-weight: 600;
            color: rgb(0, 0, 0);
            position: absolute;
            text-align: left;
            margin-left: 30px;
        }

        #banner {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: 100%;
        }

        #logo {
            width: 10%;
            height: max-content;
        }

        h1,
        h2,
        #Bname {
            font-family:'Times New Roman', Times, serif;
            width: 90%;
            font-size: 2em;
            height: max-content;
            font-weight: 500;
        }

        .marqee {
            background-color: #4d5b6a;
            color: aliceblue;
        }

        .nav {

            color: white;
            text-decoration: none;
            font-size: 1em;
        }
        .nav img{
            height: 20px;
            width: 20px;
        }
        nav {
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            position: sticky;
        }

        #guidelines {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }


        #regulations,
        #amendment,
        #secondamend,
        #thirdamend {
            height: 300px;
            width: 250px;
            margin: 20px;
            border-radius: 15px;
            box-shadow: 2px 2px 10px black;
            font-size: larger;
            transition: all 0.5s linear ;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
        }

        #regulations:hover,#amendment:hover,#secondamend:hover,#thirdamend:hover{
            transform: scale(1.028);
        }

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu h3 {
    font-weight: 500;
}

.sub-menu-wrap {
    position: absolute;
    top: 32%;
    right: 10%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu hr{
    border: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
    color: #525252;
}
.sub-menu-link p {
    width: 100%;
    margin-top: 2px;
    transition: transform 0.5s;
}
.sub-menu-link span {
    font-size: 22px;
    margin-top: 2px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

h2{
    color: red;
    text-decoration: underline;
    margin-top: 15px;
    margin-left: 70px;
    background-color: gray;
}
#div1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    width: 95%;
    margin-left: 20px;
    }

    #contact{
            display: flex;
            flex-direction: row;
            margin: 30px;
            box-shadow: 5px 5px 10px black;
        }
        #contact1 ,#contact2{
            margin: 20px;
        }

#conid{
    margin-top: 30px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
            text-align: center;
}

        @media(max-width:420px){
         *{
            margin: 0px;
            padding: 0px;
            text-align: center;
         }
        .marqee {
            background-color: #4d5b6a;
            color: aliceblue;
        }

        #logo {
            width: 15%;
            height: max-content;
        }

        #banner {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        h1,
        h2,
        #Bname {
            width: 90%;
            font-size: 1em;
            height: max-content;
            text-align: center;
            margin-left: -10px;
        }


        .nav {

            color: white;
            text-decoration: none;
            font-size: 0.6em;
        }

        nav {
            background-color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: sticky;
        }

        #gp {
            background-image: url(gpc2.jpg);
            background-size: cover;
            object-fit: cover;
            width: 100%;
            height: 200px;
            stroke-opacity: 300;
            position: absolute;
            border-bottom: 2px solid black;

        }

        #hidden {
            width: 100%;
            height: 200px;
            visibility: hidden;
        }

        #overlay {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: rgb(0, 0, 0);
            position: absolute;
            text-align: center;
            margin-left: 80px;
            margin-top: 38px;
        }

        #AntiRagging {
            font-size: 0.8em;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            justify-content: center;
            margin-top: 15px;
            border-bottom: 2px solid black;
        }

        #para {
            width: 100%;
            height: max-content;
        }

        #para h3 {
            text-decoration: underline;
            color: red;
            font-size: 1.8em;
            margin-top: 20px;
        }

        #besidePara img {
            height: 250px;
            width: 200px;
            margin-right: 20px;
            box-shadow: 1px 1px 8px black;
            border-radius: 15px;
            margin-bottom: 15px;
        }

        #Ugc h3{
            font-size: 1em;
        }
        #guidelines {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        #regulations,
        #amendment,
        #secondamend,
        #thirdamend {
            height: 300px;
            width: 250px;
            margin: 20px;
            border-radius: 15px;
            box-shadow: 2px 2px 10px black;
            font-size: larger;
            transition: all 0.5s linear ;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        #div1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    width: 95%;
    margin-left: 0px;
    }
    #contact{
            display: flex;
            flex-direction: column;
            margin: 30px;
            box-shadow: 5px 5px 10px black;
        }
        #contact1 ,#contact2{
            margin: 20px;
        }

    
        }